/* Styles for webgl football visualisations */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.version {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #7fa5ff;
    text-align: center;
}
#title {
    position: absolute;
    top: 1%;
    width: 75%;
    left: 12.5%;
    color: #7fa5ff;
    font-size: 1rem;
}
#title p {
    margin: 0;
}
#title img {
    width: 10%;
}
.resultsInfo {
    position: absolute;
    width: 250px;
    height: 30px;
    top: 150px;
    left: 150px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: rgba(119, 119, 119, 0.50);
    color: #7fa5ff;
    text-align: center;
}
/* Instructions */
#instructionTitle {
    font-size: 2vw;
    color: darkred;
}
#instructionTitle img {
    width: 15%;
}
#instructPage {
    background-color: #5c5f64;
}
.instructionText p {
    color: white;
    text-align: left;
}
.instructionText h3 {
    text-align: left;
    color: #303030;
}
.instructionText img {
    width: 50%;
}
.infoPanel {
    position: absolute;
    color: white;
}
#zoomControls {
    bottom: 20.0%;
    right: 1.5%;
    width: 15%;
    -webkit-touch-callout: none;
}
#zoomControls p {
    font-size: 1rem;
    margin: 0;
}
#zoomControls button {
    width: 45%;
    padding: 0;
}
#zoomControls img {
    width: 90%;
}
#rotateControls {
    bottom: 5%;
    right: 1.5%;
    width: 15%;
    -webkit-touch-callout: none;
}
#rotateControls p {
    font-size: 1rem;
    margin: 0;
}
#rotateControls button {
    width: 45%;
    padding: 0;
}
#rotateControls img {
    width: 90%;
}