/* Styles for webgl football visualisations */

body {

}
.render {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.version {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #7fa5ff;
    text-align: center;
}
.centred {
    text-align: center;
}
#title {
    position: absolute;
    top: 1%;
    left: 33%;
    color: #7fa5ff;
    font-size: 2vw;
}
#title div {
    float: left;
    padding: 1%;
}
#title img {
    width: 5%;
}
.mainButton {
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    background-color: rgba(150, 150, 150, 0.5);
    overflow: hidden;
    color: #7fa5ff;
}
#loadButton {
    top: 50px;
    left: 75px;
}
.upload {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    background-color: #004040;
}
.resultsInfo {
    position: absolute;
    width: 250px;
    height: 30px;
    top: 150px;
    left: 150px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: rgba(119, 119, 119, 0.50);
    color: #7fa5ff;
    text-align: center;
}
/* Instructions */
#instructionTitle {
    font-size: 2vw;
    color: darkred;
}
#instructionTitle img {
    width: 15%;
}
#instructPage {
    background-color: #5c5f64;
}
.instructionText p {
    color: white;
    text-align: left;
}
.instructionText h3 {
    text-align: left;
    color: #303030;
}
.instructionText img {
    width: 50%;
}
